@import 'https://fonts.googleapis.com/css?family=Poppins';

*{
    font-family: Poppins, sans-serif;
}

.vh-100{
    height: 100vh;
    min-height:100vh;
  }

/* Placeholder to be deleted soon */
.bg-special /*body*/{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-y: hidden;
    max-height: 40em;
	background: rgba(255,255,255,0.1) url(https://my-asia.net/image/catalog/bg-special.png) 50% 40px no-repeat;
	-webkit-animation: bgscroll 30s alternate infinite linear;
	-moz-animation: bgscroll 30s alternate infinite linear;
	-ms-animation: bgscroll 30s alternate infinite linear;
}


h1 span {
	position: absolute;
	display: block;
	z-index: -1;
	width: 675px;
	height: 675px;
	background: url(http://i.imgur.com/1YS17.png) 0 0 no-repeat;
	top: -139px;
	left: -130px;
	-webkit-animation: rotateinfinite 120s infinite linear;
	-moz-animation: rotateinfinite 120s infinite linear;
	-ms-animation: rotateinfinite 120s infinite linear;
}

@-webkit-keyframes bgscroll {
	0%		{ background-position: 5% 40px; }
	100%	{ background-position: 95% 40px; }
}

@-webkit-keyframes rotateinfinite {
	0%		{ -webkit-transform: rotate(0deg); }
	100%	{ -webkit-transform: rotate(350deg); }
}

@-moz-keyframes bgscroll {
	0%		{ background-position: 5% 40px; }
	100%	{ background-position: 95% 40px; }
}

@-moz-keyframes rotateinfinite {
	0%		{ -moz-transform: rotate(0deg); }
	100%	{ -moz-transform: rotate(350deg); }
}

@-ms-keyframes bgscroll {
	0%		{ background-position: 5% 40px; }
	100%	{ background-position: 95% 40px; }
}

@-ms-keyframes rotateinfinite {
	0%		{ -ms-transform: rotate(0deg); }
	100%	{ -ms-transform: rotate(350deg); }
}	


nav {
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    overflow: hidden;
}

nav img {
	cursor: pointer;
    width: 200px;
    height: 40px;
}

.burger {
    border: 0;
    background-color: transparent;
    color: #0594ec;
    font-size: 20px;
    display: none;
}

.burger:focus{
    outline: none;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none !important;
    color: #2c405e !important;
    position: relative !important;
}

nav ul li a::after{
    content: '';
    background-color: #2c405e;
    position: absolute;
    left: 0;
    bottom: -18px;
    height: 2px;
    width: 100%;
    opacity: 0;
    transition: transform 0.2s ease;
}

nav ul li a:hover::after{
    transform: translateY(-15px);
    opacity: 1;
}

/* responsiveness */
@media (max-width: 480px){
    .burger {
        display: block;
    }
    nav ul {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        flex-direction: column;
        position: fixed;
        top: 80px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.4s ease;
    }

    nav ul.show {
        transform: translateX(0);
    }

    nav ul li {
        margin: 15px;
    }
    .my-form.push {
        margin-top: 200px;
        transition: all 0.3s ease;
    }
}

.my-form {
    padding-top: 4.5rem;
    padding-bottom: 1.0rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img {
    padding-top: 1.0rem;
}

.card {
    background-color: whitesmoke;
}

.buttonHolder {
    text-align: center;
}

#mentor_header{
    padding-top: 2.0rem;
}